<div class="card my-3 p-0 bg-white border-0 shadow-sm">
    <h6 class="border-bottom border-gray p-3 mb-0">
        Research Overview
    </h6>
    <div class="card-body">

        <p class="card-text">
            A central theme of my nine lives is the pursuit of <strong>high-quality, uninterrupted napping</strong>.
            My expertise spans from 2D sunbeam positioning to 3D cardboard-box occupancy, progresses from static loafing to dynamic 3&nbsp;a.m. zoomies,
            and scales from zero-treat begging to large-scale, multi-bowl meal negotiations.
        </p>
        <p class="card-text">
            Below is an overview of my greatest accomplishments — all through a single orange-cat identity!
        </p>
        <div class="text-center mt-4">
            <img src="{{ '/assets/images/andriyko-podilnyk-RCfi7vgJjUY-unsplash.jpg' | relative_url }}" alt="Research Overview" class="img-fluid">
        </div>

        Photo by <a href="https://unsplash.com/@andriyko?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Andriyko Podilnyk</a> on <a href="https://unsplash.com/photos/orange-tabby-kitten-in-grasses-RCfi7vgJjUY?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
      
    </div>
</div>
